body, p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
}

a {
    text-decoration: none;
}

label {
    font-size: x-small;
}

div#container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 800px;
}
